@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageTitle</title>
</head>
<body>

    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
</body>
</html>
