@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}


    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>

