
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details.cshtml from Views/Home folder.</title>
</head>
<body>
    <h1>Details.cshtml from Views/Home folder.</h1>
</body>
</html>
