@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}


    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>

@section Scripts  {
    <script src="~/js/CustomScript.js"></script>
}
