
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["PageTitle"]</title>
</head>
<body>
    @{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }

    <div>
        Name: @employee.Name
    </div>
    <div>
        Department: @employee.Deparement
    </div>
    <div>
        Email: @employee.Email
    </div>
</body>
</html>
